
<header>
    <button class="btn" (click)="playMusic()">Play</button>
    <div>
        <span class="logo1">The</span>
        <span class="logo2">Ramayan</span>
        <span class="logo3">Blogs</span>
    </div>
</header>


<main *ngIf="blogPosts$ | async as blogPosts"> 
    <!--<pre>
        {{ blogPosts | json }}
    </pre> -->

    <div class="blog-posts-container" *ngFor="let blogPost  of blogPosts.items">
        <img [src]="blogPost.fields.featuredImage.fields.file.url" alt="">
        <h2>{{ blogPost.fields.title }}</h2>
        <p class="author">{{ blogPost.fields.author }}</p>
        <p class="summary">{{ blogPost.fields.summary }}</p>
        
    </div>

</main>